<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elif_condition</title>
</head>
<body>
    <center>
        <h1>ELIF CONDITION STATEMENTS USING JINJA TAGS</h1>
        {% if a > b and a > c %}
            <h1>Inside if block</h1>
            <h1>a:{{a}} is Big number</h1>
        {% elif b > c %}
            <h1>inside elif  block</h1>
            <h1>b:{{b}} is Big Number</h1>
        {% else %}
            <h1>Inside Else Block</h1>
            <h1>c:{{c}} is Big Number</h1>
        {% endif %}
    </center>
</body>
</html>