<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nested_if_condition</title>
</head>
<body>
    <center>
        <h1>NESTED IF CONDITIONS USING JINJA TAGS</h1>
        {% if a > b %}
            {% if a > c %}
                <h1>Inside inner if of outer if</h1>
                <h1>{{a}} is Bigger Number</h1>
            {% else %}
                <h1>Inside inner else of outer if</h1>
                <h1>{{c}} is Bigger Number</h1>
            {% endif %}
        {% else %}
            {% if b > c %}
                <h1>Inside inner if of outer else</h1>
                <h1>{{b}} is Bigger Number</h1>
            {% else %}
                <h1>Inside inner else of outer else</h1>
                <h1>{{c}} is Bigger Number</h1>
            {% endif %}
        {% endif %}
    </center>
    
</body>
</html>